body {
    text-align: center;
  }
  
  textarea {
    width: auto;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    font-size: 14px;
  }
  
  iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 50vh;
  }